<div class="inner">

	<h1 class="title col3">About me</h1>

	<div class="col2">
		<h3>Hello there!</h3>
		<p>I am Matthias – thirty years of age and located in <a class="ln" href="https://www.google.com/maps/place/Berlin" target="_blank"><span class="lnk">Berlin</span></a>, Europe's most vibrant and innovative capital. <br/>
		Three hearts beat in my chest: one for my family, one for my work, and one for photography</a>. To keep them at pace, I am also a compassionate cyclist. <br/>
		I love to play with technology, I enjoy coding, and I find delight in creating useful and beautiful things. That said, I consider my workplace as a playground.
		</p>
	</div>
	
	<blockquote class="col2">
		<p>Fun fact: Before going to sleep on a workday, I do a series of thirty pushups for every cup of coffee I drank throughout the day.</p>
	</blockquote>
	
	<h3 class="clr col3">In the past 12 months ...</h3>
	
	<div class="col">
		<figure class="a">
			<img src="/img/about/baby_feet-75.png" class="blackToText"/>
			<figcaption>I became father of a bright and beautiful girl.</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="b">
			<img src="/img/about/student-75.png" class="blackToText" />
			<figcaption>I defended my thesis and received a PhD degree.</figcaption>
		</figure>
	</div>
	<div class="col">
		<figure class="c">
			<img src="/img/about/mountain_biking-75.png" class="blackToText" />
			<figcaption>I rode about 4500 kilometers on my bicycle.</figcaption>
		</figure>
	</div>
	
	<h3 class="clr col3">A brief history of me</h3>
	
	<div class="col2">
		<p>
			As I went through school like many, I've been drawn to the world's mechanics – mathematics, physics, ... and computer science. <br/>
			I figured that I should either become a science teacher or a computer scientist. Back in 2003, I found myself studying <strong>software engineering</strong> at the HPI; at which I excelled and have been awarded best of class receiving my <strong>master's degree</strong> in 2009.
		</p>
		<p>					
			Five years on, I have pursued the technological area of <strong>business process management</strong> further. 
			As a lecturer enjoy sharing my knowledge with students. As a researcher, I stay curious and challenge myself with behavioral analytics. 
			In my <strong>dissertation</strong>, I developed a search engine for process models.<br/>
			<!-- You can read more in my <a class="ln" href="#curriculum"><span class="lnk">resumé</span></a>. -->
		</p>	
	</div>
	<div class="col">
		<p>
			Want to know me better? There you go.
		</p>
		<ul>
			<li><a href="http://twitter.com/matthias_k"><img class="icon inv" src="/img/about/twitter-26.png" /></a> Follow my musings on <a class="ln" href="http://twitter.com/matthias_k"><span class="lnk">twitter</span></a>.</li>
			<li><a href="http://www.flickr.com/photos/mtkunze/sets/"><img class="icon inv" src="/img/about/flickr-26.png" /></a> Watch some photos of mine on <a class="ln" href="http://www.flickr.com/photos/mtkunze/sets/"><span class="lnk">flickr</a>.</li>
		</ul>
	</div>
</div>