<div class="inner">
	<h1 class="title">
		<span>Curriculum</span>
		<small>Cornerstones of education and experience</small>
	</h1>

<!-- curriculum vitae -->

<!-- professional: learn and practice / education and experience-->

<ul id="cv">
	<li class="learn">
		<h3>Graduation, Dr. rer. nat <span class="detail">(magna cum laude)</span></h3>
		<span class="time">
			October 2013<br/>
			HPI, University of Potsdam</span>
		
		I defended my <a href="http://opus.kobv.de/ubp/volltexte/2013/6884/" target="_blank"><span class="lnk">thesis</span></a> “Searching business process models by example” and received a doctoral degree in computer science.<br/>
		I work as a post-doc researcher at the Hasso Plattner Institute since, and held a lecture on business process compliance in the last winter term.
	</li>
	
	<li class="practice">
		<h3>Researcher, Assistant Lecturer</h3>
		<span class="time">
			May 2009 – now<br/>
			HPI, University of Potsdam</span>
		
			In the last five years, I have been a researcher and lecture assistant at the Business Process Technology group of the Hasso Plattner Institute. <br/>
			My position as a lecture assistant provided me with an exhaustive knowledge of the topics of business process technologies, modeling of information systems, and business process management. I gained experience in these topics in various <a href="#projects"><span class="lnk">projects</span></a> with industrial and academic partners that I participated in. <br/>
			The main emphasize of my research is on the analysis of business process behavior, business process similarity and querying. I developed means for the efficient and effective retrieval of business process models in large repositories. Besides, I covered topics of event processing and business activity monitoring.
			
	</li>
	
	<li class="practice">
		<h3>Research Internship</h3>
		<span class="time">
			April 2008 – October 2008<br/>
			SAP Labs, Palo Alto (CA)</span>
		
		Working in the Advanced Web Technologies group in Palo Alto  we dove into encapsulating object-oriented data services in a RESTful interface. As a part of the result, I developed an optimistic transaction protocol for web data services.
	</li>
	
	<li class="learn">
		<h3>Master Programme in Software Enginering, Master of Science <span class="detail">(M.Sc., 1.0, best of class)</span></h3>
		<span class="time">
			April 2007 – March 2009<br/>
			HPI, University of Potsdam</span>
		
			Topics of the master's programme address predominantly on the processes of development, distribution, and orchestration of software systems. In addition to specializations in software engineering, students acquire people skills which form a major part of successful project management.<br/>
		
			In my master studies, I chose to put an emphasize on the following topics in software engineering: enterprise architectures, project management, and business process technologies.					
	</li>
	
	<li class="learn">
		<h3>Exchange term in the master programme</h3>
		<span class="time">
			August 2007 – December 2007<br/>
			University of Jyväskylän, Finland</span>
		
			As part of my master studies, I spent a term as an exchange student in Jyväskylä and experienced a broad variety of cultures – not only the Finnish. My curriculum focused on requirements engineering and service oriented architectures.
	</li>
	
	<li class="practice">
		<h3>Development and System Design</h3>
		<span class="time">
			October 2006 – July 2007<br/>
			HPI, University of Potsdam; Schenker AG</span>
		
		In the graduation project of the Bachelor programme at the Hasso Plattner Institute, we – a team of five – developed the system architecture for an innovative logistics management system for the second largest logistics service provider Schenker. <br/>
		
		After graduation, we were asked to further contribute to the project to fuel its realization.
	</li>
	
	<li class="learn">
		<h3>Bachelor Programme in Software Enginering, Bachelor of Science <span class="detail">(B.Sc., 1.3)</span></h3>
		<span class="time">
			October 2003 – March 2007<br/>
			HPI, University of Potsdam</span>
		
			The bachelor programme in Software engineering at the Hasso Plattner Institute focused on establishing a profound knowledge of formal models for software architectures, design patterns and concepts of programming languages, and software development processes. <br/> During my studies, I exercised an abundance of programming languages and software technologies for service oriented computing.
		
	</li>
	
	<li class="practice">
		<h3>Student Assistant</h3>
		<span class="time">
			March 2004 – September 2006<br/>
			HPI, University of Potsdam</span>
		
		During my studies, I contributed in several research and software development projects at the Hasso Plattner Institute, joining the chairs for Enterprise Platforms and Integration Concepts, Computer Graphics, and Business Process Technology
	</li>	
	
	<li class="practice">
		<h3>Civil Service</h3>
		<span class="time">
			September 2002 – June 2003<br/>
			Special school, Meißen (Germany)</span>
		
			As a replacement for the German obligatory military service at the time, I opted for the so-called <em>civil service</em> at a school for mentally handicapped children. My responsibilities laid in the supervision and personal care for children of age 6 to 16.
	</li>
	
	<li class="learn">
		<h3>High school, Abitur <span class="detail">(1.3)</span></h3>
		<span class="time">
			July 2002
			Franziskaneum, Meißen (Germany)</span>
		
			At high school, I chose the natural science profile with an emphasis on physics and mathematics. 
	</li>
</ul></div>