<div class="inner">
	<h1 class="title">
		<span>Hire me</span>
		<small>I'm available from April 2015</small>
	</h1>
	<p class="col">
		<span class="headshot"><img src="/img/hireme/headshot.jpg"/></span>
	</p>
	
	<p class="col2">
		I am a highly motivated graduate and research associate in the field of business process management 
		and IT systems engineering with a generic and analytical mindset to approach problems 
		and solve them thoroughly. 
	</p>
	<p class="col2">
		I collected practical experience in strategic and operative projects with industry partners 
		and sharpened my skills to convey knowledge and insights as a lecturer and speaker at international conferences. 
	</p>
</div>