<div class="inner">
	<h1 class="title">
		<span>Projects</span>
		<small>BPM research applied in practice</small>
	</h1>
	<p class="col3">During my time as a researcher at the business process technology group of the Hasso Plattner Institute, I contributed to a number of projects with other scientific institutions and industrial partners. In many cases, these projects show the relevance of scientific results made in our group and their applicability in practice.</p>

<ul id="projectsinner">
		
<li class="project col">
	<i class="logo get"></i>
	<h3>Green European Transportation</h3>
	<span class="time">since 2011</span>
	<span class="location">
		<a class="ln" href="http://getservice-project.eu/en/project/consortium">Intl. Consortium</a>
	</span>
	<p> The <a class="ln" href="http://getservice-project.eu/"><span class="lnk">GET</span></a> service platform provides logistics service providers with the means to plan transportation routes more efficiently and to respond quickly to unexpected events. <br/>
		The project funded by the European Commission explores innovative ways to combine real-time event processing, business process technologies, and transportation scheduling to reduce pollution and make transportation in Europe more friendly to the environment.
	</p>
</li>

<li class="project col">
	<i class="logo bpmai"></i>
	<h3><span style="padding-right: .5em">BPM</span> <span style="padding-right: .5em">Academic</span> Initiative</h3>
	<span class="time">since 2009</span>
	<span class="location">
		<a class="ln" href="http://hpi.uni-potsdam.de">HPI</a>, 
		<a class="ln" href="http://signavio.com">Signavio</a></span>
	<p>Together with the newly founded start-up Signavio, the BPT group and five leading academic institutions in the area of BPM joined forces in the academic <a class="ln" href="http://bpmai.org"><span class="lnk">initiative</span></a>, providing a process modeler and teaching material free of charge to students and lecturers, likewise. Since 2011, we offer a growing collection of real business process models for empirical research in academia.
	</p>

<li class="project col">
	<i class="logo pige"></i>
	<h3>Process Intelligence in Health Care</h3>
	<span class="time">2011 - 2013</span>
	<span class="location">
		<a class="ln" href="http://hpi.uni-potsdam.de">HPI</a>, 
		<a class="ln" href="www.uniklinikum-jena.de/en/Wir_über_uns.html">Jena University Hospital</a>, 
		<a class="ln" href="https://www.signavio.com">Signavio</a></span>
	<p>Healthcare organizations face the challenge to remain efficient with ever increasing complexity and cost-pressure of treatment procedures. In the <a class="ln" href="http://pige-projekt.de"><span class="lnk">project</span></a>, we developed models to correlate treatment data with business process models in order to monitor and analyze treatment processes in realtime. A prototype has been developed that supports these aspects while maintaining high privacy and security standards.
	</p>
</li>

<li class="project col">
	<i class="logo interchange"></i>
	<h3>Business Process Model Interchange</h3>
	<span class="time">2011 - 2012</span>
	<span class="location">
		<a class="ln" href="http://hpi.uni-potsdam.de">HPI</a>,
		<a class="ln" href="http://signavio.com">Signavio</a>,
		<a class="ln" href="http://sap.com">SAP</a></span>
	</span>
	<p>
		BPMN 2.0 standardizes not only the process meta-model and semantics, but also an exchange format that aims at the integration of models on different levels. <br/> In a corporate project with development facilities of Signavio and SAP NetWeaver, we investigated the gap between organizational business process models and their technical implementation and execution in a process engine. The <a class="ln" href="http://bpt.hpi.uni-potsdam.de/pub/Public/WebHome/Integration_of_SAP_NetWeaver_BPM_and_Signavio_Process_Editor.pdf"><span class="lnk">report</span></a> shows that this gap is bridged successfully.
	</p>
</li>

<li class="project col">
	<i class="logo monitoring"></i>
	<h3>Monitoring of Process Interaction</h3>
	<span class="time">2011</span>
	<span class="location">
		<a class="ln" href="http://hpi.uni-potsdam.de">HPI</a>,
		German Health Insurance</span>
	<p>
		In process choreographies, where business processes of different participants interact, monitoring and performance analysis is difficult, as delays may occur by waiting for certain responses. <br/> To correctly monitor service level agreements of a health insurance company, we developed the <a class="ln" href="http://dx.doi.org/10.1007/978-3-642-37804-1_23"><span class="lnk">foundations</span></a> to support the monitoring processes interactions, particularly if only few events can be detected. A prototype has been developed validating the theoretical results.

	</p>
</li>

<li class="project col">
	<i class="logo automation"></i>
	<h3>Process Automation and Verification</h3>
	<span class="time">2010</span>
	<span class="location">
		<a class="ln" href="http://hpi.uni-potsdam.de">HPI</a>,
		IT Service Provider</span>
	<p>
		Business process models cater the understanding of how organizations carry out their operations. However, they can also assist in controlling these operations, if they are orchestrated by software. <br/>
		In a project with a German IT service provider, we developed a <a class="ln" href="http://dx.doi.org/10.1007/978-3-642-21759-3_17"><span class="lnk">methodology</span></a> and prototype that incorporates data dependencies and a repository of services to configure business processes, ensure their consistency, and run them in a process engine.
	</p>
</li>

<li class="project col">
	<i class="logo modeling"></i>
	<h3>Process Modeling and Documentation</h3>
	<span class="time">2010</span>
	<span class="location">
		<a class="ln" href="http://hpi.uni-potsdam.de">HPI</a>,
		German Health Insurance</span>
	</span>
	<p>
		In order to understand, optimize, and unify the operations of an organization, they need to be captured in an unambiguous and consistent representation that is easy to understand – business process models. <br/>
		Together with a German health insurance provider, we developed modeling guidelines and best practices to model business processes of a branch of the insurance company, and supported the elicitation of these processes.
	</p>
</li>



<li class="project col">
	<i class="logo oryx"></i>
	<h3>Oryx — Web-based Model Editor</h3>
	<span class="time">2007 - 2009</span>
	<span class="location">HPI (University of Potsdam)</span>
	<p>The Oryx modeler emerged from a students' project at the <a class="ln" href="http://bpt.hpi.uni-potsdam.de"><span class="lnk">BPT</span></a> group at HPI in 2006 and has received remarkable attention by both academia and industry. I joined the project as a developer in 2007 and later coordinated development efforts at the HPI. It's success led to the foundation of a spin-off by the original inventors in 2009: the Signavio Process Editor.
	</p>
</li>

</ul>