<!--span class="updateWindowTitle" style="display:none;">BPM Expert · IT Engineer</span-->

<!-- photo, title, navigation with abstract if screen is large -->
<h1 class=title>
	<span><strong>Matthias</strong>&nbsp;Kunze</span>
	<small>BPM Expert · IT Engineer</small>
</h1>

<nav id="teasernav">
	<a href="#about" class="nav-about icon">
		<div>
			<h3>About me.</h3>
			<small>
				Something about me.
			</small>
		</div>
	</a><br/>

	<a href="#hireme" class="nav-hireme icon">
	<div>
		<h3>Hire me.</h3>
		<small>
			Something about me.
		</small>
	</div>
	</a><br/>

	<a href="#curriculum" class="nav-curriculum icon">
	<div>
		<h3>Curriculum.</h3>
		<small>
			Something about me.
		</small>
	</div>
	</a><br/>

	<a href="#projects" class="nav-projects icon">
	<div>
		<h3>Projects.</h3>
		<small>
			Something about me.
		</small>
	</div>
	</a>
</nav>

<div id="scrolldown"><img src="/img/down.png" class="icon" /></div>

<a href="#hireme" id="hirememark">
	Hire me.
	<small>I'm available from April 2015</small>
</a>