.curriculum .parallax-back {
	//background-image: url(../img/mbl.jpg);
}

#curriculum {
	border-color: @curriculum;

	.title span {
		color: @curriculum;
		text-shadow: 0 0 1px @curriculum;
	}
	.title small {
		color: @back;
		background-color: @curriculum;
	}	
}
